<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники Сбербанка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div th:include="sber_header :: sbersign">
    <img src="../static/images/sber.png"/>
</div>
<h1>Справочник телефонных номеров</h1>
<table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>ФИО сотрудника</th>
        <th>Дата рождения</th>
        <th>Пол</th>
        <th>Номер мобильного телефона</th>
        <th>Номер рабочего телефона</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td><span th:text="${employee.fio}"></span></td>
        <td><span th:text="${employee.birthdate}"></span></td>
        <td><span th:text="${employee.gender}"></span></td>
        <td><span th:text="${employee.mobilePhone}"></span></td>
        <td><span th:text="${employee.phone}"></span></td>
        <td>
            <a class="btn btn-default btn-primary" href="/edit/1" th:href="@{/edit/}+${employee.id}">Редактировать</a>
            <a class="btn btn-default btn-danger" href="/remove/1" th:href="@{/remove/employee.id}">Удалить</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <a href="/edit/new" th:href="@{/edit/new}" class="btn btn-success">Добавить новый контакт</a>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>